.navBar {
  display: flex;
  padding: 50px;
  justify-content: center;
  gap: 30px;
}

.link {
  font-size: 25px;
  text-decoration: none;
  background-color: gray;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 15px;
}
